<div class="{{styles.login_main}}">
<div  class="{{styles.login_title}}">{{title}}</div>
{{> input placeholder=login.placeholder type=login.type error_text=login.error_text}}
<div class="{{styles.login_stub}}"></div>
{{> input placeholder=password.placeholder type=password.type error_text=password.error_text}}
</div>
